<div class="row">
  <div class="small-12 columns">
    <h1><%= @genre.name %></h1>
      <% @drafts.each do |draft| %>
        <h3><%= link_to draft.title, draft_path(draft) %></h3>
        <p>Author: <%= link_to draft.user.username, user_path(draft.user) %></p>
        <p>Summary: <%= draft.summary %></p>
      <% end %>
    <%= link_to 'All Genres', genres_path %>
    <%= yield %>
  </div>
</div>
