<h1><%= @genre.name %></h1>

<ul>
  <% @drafts.each do |draft| %>
    <li><%= draft.title %> <%= draft.user %> <%= draft.summary %></li>
  <% end %>
</ul>

<div>
  <%= link_to 'All Genres', genres_path %>
</div>
