<div class="row">
  <div class="small-12 columns">
    <% if @user.id == current_user.id %>
      <h1>Welcome, <%= @user.username %>!</h1>
      <h3>Bio:</h3>
      <p><%= @user.bio %></p>
      <%= link_to 'Edit Bio', edit_user_path(@user) %>
      <br/>
      <br/>
      <h3>Your Groups:</h3>
      <ul>
        <% @memberships.each do |membership| %>
          <%= link_to membership.group.name, group_path(membership.group) %><br/>
        <% end %>
      </ul>
      <h3>Your Drafts:</h3>
      <ul>
        <% @drafts.each do |draft| %>
          <%= link_to draft.title, draft_path(draft) %><br/>
          Genre: <%= draft.genre.name %><br/>
          Restriction: <%= draft.restriction %><br/>
          Summary: <%= draft.summary %><br/>
        <% end %>
      </ul>
    <% else %>
      <h1><%= @user.username %></h1>
      <h3>Bio:</h3>
      <p><%= @user.bio %></p>
      <h3>Groups:</h3>
      <ul>
        <% @memberships.each do |membership| %>
          <%= link_to membership.group.name, group_path(membership.group) %><br/>
        <% end %>
      </ul>
      <h3>Drafts:</h3>
      <ul>
        <% @drafts.each do |draft| %>
          <%= link_to draft.title, draft_path(draft) %><br/>
          <%= draft.genre.name %><br/>
          <%= draft.restriction %><br/>
          <%= draft.summary %><br/>
        <% end %>
      </ul>
    <% end %>
    <br/>
    <br/>
    <%= link_to 'Add A New Draft', new_draft_path %><br/>
    <br/>
    <%= link_to 'All Groups', groups_path %><br/>
    <%= link_to 'All Public Drafts', drafts_path %>
    <%= yield %>
  </div>
</div>
