<div class="row">
  <div class="small-12 columns">
    <h1>About the Developer</h1>
    <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/005/064/149/08a9a8b.jpg" alt="Me at Launch!">
    <p>Hi!  My name is Katie Blair.  I built this site as my "breakable toy" while attending Launch Academy in Boston.  I am an avid writer (of young adult fantasy novels) and wanted to create a site I could use with my own writing groups.  I hope you enjoy it!</p>

    <%= link_to 'Blog', 'http://katiethecoder.tumblr.com' %><br/>
    <%= link_to 'Github', 'https://github.com/katieblair' %><br/>
    <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/katieblair1' %><br/>
    <%= link_to 'Twitter', 'https://twitter.com/blair_katie' %><br/>
    <br/>
    <%= link_to 'Back to the home page', index_path %>

    <%= yield %>
  </div>
</div>
