<div class="row">
  <div class="small-12 columns">
    <h1>All Public Drafts</h1>
    <% @drafts.each do |draft| %>
      <h3><%= link_to draft.title.html_safe, draft_path(draft) %></h3>
      <p>Author: <%= link_to draft.user.username, user_path(draft.user) %></p>
      <p>Genre: <%= link_to draft.genre.name, genre_path(draft.genre) %></p>
      <p>Restriction: <%= draft.restriction.html_safe %></p>
      <p>Summary: <%= draft.summary.html_safe %></p>
    <% end %>

    <div>
      <%= link_to 'Drafts By Genre', genres_path %>
    </div>

    <div>
      <%= link_to 'New Draft', new_draft_path %>
    </div>

    <div>
      <%= link_to 'View Writing Groups', groups_path %>
    </div>
    <%= yield %>
  </div>
</div>
