<h1><%= @draft.title.html_safe %></h1>

<%= @draft.user.username %>

<%= @draft.genre.name %>

<%= @draft.restriction.html_safe %><br/>

<%= @draft.summary.html_safe %>

<%= @draft.body.html_safe %>

<h3>Critiques:</h3>
<% @critiques.each do |critique| %>
  <%= critique.comment %>

  <% if current_user == critique.user || current_user.role == 'admin' %>
    <%= link_to 'Edit', edit_critique_path(critique) %>
    <%= button_to 'Delete', draft_critique_path(critique.draft, critique), method: :delete, data: {:confirm => "Are you sure?"} %>
  <% end %>
<% end %>

<h3>Critique This Draft:</h3>
<%= form_for([@draft, @critique]) do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :comment %>
  <%= f.submit %>
<% end %>

<div>
  <% if current_user == @draft.user || current_user.role == 'admin' %>
    <%= link_to "Edit", edit_draft_path(@draft) %>
    <%= button_to "Delete", draft_path(@draft), method: :delete, data: {:confirm => "Are you sure?"} %>
  <% end %>
</div>

<%= link_to 'All Public Drafts', drafts_path %>
